*{
margin: 0;
padding: 0;
}

/* html 5 */
header, footer, section, aside, nav, article {
    display: block;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* 总体背景及字体颜色 */
body {
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;   /* 字体颜色 */
    font-size: 14px;
    line-height: 18px;
    background-color: #b1b1b1;  /* 总体背景 */
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    clear: both;
    color: #000000;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* 外圈框线 */
#wrapper {
    width: 940px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid #606060;   /* 外圈框线颜色 */
    border-radius: 20px;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* 抬头header */
header {
    padding: 20px 0 0 0;
}  
/* Welcome to My Academic Homepage */
header>h1 {
    float: left;
    margin: 0 0 18px 10px;
    width: 940px;
    font-size: 40px;
    line-height: 36px;
    color: #4DBEEE;
    font-weight: bold;
    text-decoration: none;
}  
/* date update */
header>h2 {
    color: #000000;
    clear: right;
    float: right;
    font-style: italic;
    font-size: 14px;
    margin: 0px 15px -15px 0;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* 顶部菜单栏 */
nav {
    width: 940px;
    height: 40px;
    margin: 0 auto;
    margin-top: -5px;
}
/* 菜单栏 */
nav .menu {
    font-size: 25px;
    font-weight: bold;
}
nav .menu ul {
    margin: 0;
    padding: 17px 0 0 20px;
    list-style: none;
    line-height: normal;
}
nav .menu li {
    display: block;
    float: left;
}
nav .menu a {
    display: block;
    float: left;
    margin-right: 5px;
    padding: 0px 15px;
    text-decoration: none;
    color: #A2142F; /*菜单栏字体颜色*/
}
nav .menu a:hover {
    text-decoration: underline;  /*菜单栏字体下划线*/
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* 正文布局 */
/* 总宽度940px */
#main {
    width: 940px;
    margin: 0 auto;
    padding-top: 30px;
    overflow: hidden;
}
    /* 左边侧栏 */
#sidebar1 {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 200px;
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
}
.sidebar a:link, .sidebar a:visited, .sidebar h4{
    color: #000000;  /* 字体颜色 */
}
.sidebar img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.icon-link {
    margin-bottom: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}


/* 中间内容 */
#content {
    float: left;
    width: 680px;
    margin-right: 20px;
}
#content p, ul, ol, hr {
    margin-bottom: 12px;
    margin-top: 5px;
}
#content ul ul, ol ol, ul ol, ol ul {
    margin-bottom: 0;
}
#content h1, h2, h3, h4, h5, h6 {
    color: #000000;
    margin: 0 0 0 0;
    line-height: 1.5em;
}
article {
    text-align: justify;
    line-height: 1.5;
    background-color: #e4e4e4;
    border-radius: 20px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 15px;
}
article img {
    border: none;
}
a:link, a:visited {
    color:#4DBEEE;
}
a:hover, a:active {
    color:#000000;
}
.alignleft, img.alignleft {
    display: inline;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
.alignright, img.alignright {
    display: inline;
    float: right;
    margin-left: 10px;
}
.aligncenter, img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.alignleft, img.alignright, img.aligncenter {
    margin-bottom: 10px;
}



/* 底部 */
footer {
    width: 940px;
    margin: 0 auto;
    clear: both;
}
/* 页面底部 */
#footer-area {
    background: #e4e4e4;
    color: #000000;
    font-size: 90%;
    padding: 18px 0;
    overflow: hidden;
    width: 940px;
    height: 10px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.footer-segment {
    float: left;
    width: 940px;
    margin-top: -7px;
    text-align: center;
}
footer aside h4 {
    color: #000000;
    font-size: 18px;
}
/* footer aside h5 {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;
}
footer ul {
    list-style: none;
    margin-left: 5px;
}
footer a:link, footer a:visited {
    color: #000000;
}
footer a:hover { 
    text-decoration: underline; 
}
footer p {
    margin-left: 10px;
}
.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-links b {
    flex: 0 0 15%;
    margin: 5px;
    margin-bottom: -20px;
} */
