*{
margin: 0;
padding: 0;
}

/* html 5 */
header, footer, section, aside, nav, article {
display: block;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* 总体背景及字体颜色 */
body {
line-height: 1;
font-family: Arial, Helvetica, sans-serif;
color: #E1DFDF;   /* 字体颜色 */
font-size: 14px;
line-height: 18px;
background-color: #121212;  /* 总体背景 */
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    clear: both;
    color: #E1DFDF;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* 外圈框线 */
#wrapper {
width: 940px;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
border: 3px solid #606060;   /* 外圈框线颜色 */
/* background: #121212; */
/* curved border radius */
/* -moz-border-radius: 10px; */
/* -webkit-border-radius: 10px; */
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* 抬头header */
header {
    padding: 20px 0 0 0;
}  
    /* Welcome to My Academic Homepage */
    header>h1 {
        float: left;
        margin: 0 0 18px 10px;
        width: 940px;
        font-size: 40px;
        line-height: 36px;
        color: #DC98FF;
        font-weight: bold;
        text-decoration: none;
    }  
    /* date update */
    header>h2 {
        color: #777;
        clear: right;
        float: right;
        font-style: italic;
        font-size: 14px;
        margin: 0px 15px -15px 0;
    }
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* 顶部菜单栏 */
nav {
width: 940px;
height: 40px;
margin: 0 auto;
margin-top: -5px;
}
    /* 菜单栏 */
    nav .menu {
    font-size: 25px;
    font-weight: bold;
    }
    nav .menu ul {
    margin: 0;
    padding: 17px 0 0 20px;
    list-style: none;
    line-height: normal;
    }
    nav .menu li {
    display: block;
    float: left;
    }
    nav .menu a {
    display: block;
    float: left;
    margin-right: 5px;
    padding: 0px 15px;
    text-decoration: none;
    color: #C00000; /*菜单栏字体颜色*/
    }
    nav .menu a:hover {
    text-decoration: underline;  /*菜单栏字体下划线*/
    }
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* 正文布局 */
/* 总宽度940px */
#main {
width: 940px;
margin: 0 auto;
padding-top: 30px;
overflow: hidden;
}
    /* 左边侧栏 */
    #sidebar1 {
        float: left;
        padding-left: 20px;
        width: 180px;
    }
    #sidebar1 h1, h2, h3, h4, h5, h6 {
        color: #E1DFDF;
    }
        .sidebar {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
            justify-content: center;
        }
        .sidebar a:link, .sidebar a:visited {
            color: #E1DFDF;  /* 字体颜色 */
        }
        .sidebar img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

/* 中间内容 */
#content {
float: left;
width: 680px;
margin-left: 20px;
margin-right: 20px;
background-color: #121212;
}


/* 底部 */
footer {
width: 940px;
margin: 0 auto;
clear: both;
}

/* basics */



a:link, a:visited {
color:#DC98FF;
}


a:hover, a:active {
color: #000000;
}

p {
margin-bottom: 18px;
}

li {
padding-left: 5px;
}

/** 中间正文 **/
article img {
border: none;
/* -webkit-box-shadow: 3px 3px 7px #777;
-moz-box-shadow: 3px 3px 7px #777; */
}
article{
    text-align: justify;
    line-height: 1.5;
}
#content p, ul, ol, hr {
margin-bottom: 12px;
margin-top: 5px;
}
#content ul ul, ol ol, ul ol, ol ul {
margin-bottom: 0;
}
#content h1, h2, h3, h4, h5, h6 {
color: #333;
margin: 0 0 0 0;
line-height: 1.5em;
}

.alignleft, img.alignleft {
display: inline;
float: left;
margin-right: 10px;
margin-top: 10px;
}
.alignright, img.alignright {
display: inline;
float: right;
margin-left: 10px;
}
.aligncenter, img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}
img.alignleft, img.alignright, img.aligncenter {
margin-bottom: 10px;
}

/* sidebar and footer widget blocks */

aside h3 {
font-size: 18px;
text-shadow: 0px 2px 3px #ddd;
}

aside ul {
    list-style: square;
    /* color: #bbb; */
    margin: 5px 0 15px 25px;
}


    
.icon-link {
    margin-bottom: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.icon-link i {
    margin-right: 10px;
}

/* 页面底部 */
#footer-area {
background: #121212;
color: #E1DFDF;
font-size: 90%;
padding: 18px 0;
overflow: hidden;
width: 940px;
height: 10px;
/* curved border radius */
-moz-border-radius-bottomright: 8px;
-moz-border-radius-bottomleft: 8px;
-webkit-border-bottom-left-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
}

.footer-segment {
float: left;
width: 940px;
margin-top: -7px;
}

footer aside h4 {
color: #000000;
font-size: 18px;
margin-left: 10px;
/* margin: 0 0 20px 0; */
}

footer aside h5 {
color: #000000;
font-size: 14px;
font-weight: normal;
margin: 0 0 20px 0;
}

footer ul {
list-style: none;
margin-left: 5px;
}

footer a:link, footer a:visited {
color: #000000;
}

footer a:hover { 
text-decoration: underline; 
}

footer p {
margin-left: 10px;
}

.footer-links {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.footer-links b {
flex: 0 0 15%;
margin: 5px;
margin-bottom: -20px;
}


