/* aurhor: H.P.Duan */
* {
margin: 0;
padding: 0;
}

/* html 5 */
header, footer, section, aside, nav, article {
display: block;
}

body {
line-height: 1;
/* background: #EAEAEA url(images/64bg.jpg) repeat; */
font-family: Arial,sans-serif;
color: #000000;
font-size: 14px;
line-height: 18px;
}
	

/* 外圈框线 */
#wrapper {
width: 940px;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
border: 3px solid #B2B2B2;
/* background: #f5f5f5; */
/* curved border radius */
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}
/* 外圈框线完成 */


/* 抬头header */
header {
    padding: 20px 0 0 0;
}  
header>h1 {
    float: left;
    margin: 0 0 18px 10px;
    width: 940px;
    font-size: 40px;
    line-height: 36px;
    color: #0000FF;
    font-weight: bold;
    text-decoration: none;
}  
header>h2 {
    color: #777;
    clear: right;
    float: right;
    font-style: italic;
    font-size: 14px;
    margin: 0px 15px -15px 0;
}
/* 抬头header */

/* 抬头背景 */
nav {
width: 940px;
height: 40px;
margin: 0 auto;
/* background: #000000; */
margin-top: -5px;
}
/* 抬头背景 */



























/* 菜单栏 */
nav .menu {
font-size: 25px;
font-weight: bold;
}
nav .menu ul {
margin: 0;
padding: 17px 0 0 20px;
list-style: none;
line-height: normal;
}
nav .menu li {
display: block;
float: left;
}
nav .menu a {
display: block;
float: left;
margin-right: 5px;
padding: 0px 15px;
text-decoration: none;
color: #C00000;
}
nav .menu a:hover {
text-decoration: underline;
}
/* 菜单栏 */




















/* 正文布局 */
/* 总宽度940px */
#main {
width: 940px;
margin: 0 auto;
padding-top: 30px;
/* background: #f5f5f5; */
overflow: hidden;
}
/* 中间内容 */
#content {
float: left;
width: 500px;
margin-left: 20px;
margin-right: 20px;
}
/* 左边侧栏 */
#sidebar1 {
float: left;
padding-left: 20px;
width: 180px;
}
/* 右边侧栏 */
#sidebar2 {
float: right;
padding-right: 20px;
width: 180px;
}
/* 底部 */
footer {
width: 940px;
margin: 0 auto;
clear: both;
}

/* basics */

h1,h2,h3,h4,h5,h6 {
font-weight: bold;
clear: both;
color: #000000;
}

a:link, a:visited {
color:#0000FF;
}


a:hover, a:active {
color: #000000;
}

p {
margin-bottom: 18px;
}

li {
padding-left: 5px;
}





/** 中间正文 **/
article img {
border: none;
/* -webkit-box-shadow: 3px 3px 7px #777;
-moz-box-shadow: 3px 3px 7px #777; */
}
article{
    text-align: justify;
    line-height: 1.5;
}
#content p, ul, ol, hr {
margin-bottom: 24px;
}
#content ul ul, ol ol, ul ol, ol ul {
margin-bottom: 0;
}
#content h1, h2, h3, h4, h5, h6 {
color: #333;
margin: 0 0 20px 0;
line-height: 1.5em;
}
.alignleft, img.alignleft {
display: inline;
float: left;
margin-right: 10px;
margin-top: 10px;
}
.alignright, img.alignright {
display: inline;
float: right;
margin-left: 10px;
}
.aligncenter, img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}
img.alignleft, img.alignright, img.aligncenter {
margin-bottom: 10px;
}



/* sidebar and footer widget blocks */

aside h3 {
font-size: 18px;
text-shadow: 0px 2px 3px #ddd;
}

aside ul {
list-style: square;
/* color: #bbb; */
margin: -15px 0 15px 25px;
}








.sidebar {
    display: flex;
    flex-direction: column; /* 将元素垂直排列，使文本在图片下方 */
    align-items: center;
    text-align: left; /* 如果想让文本水平居中，可以使用text-align */
    justify-content: center;
}
  

.sidebar a:link, .sidebar a:visited {
    color: #000000;
}


.sidebar img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px; /* 添加图片与文本之间的垂直间距，根据需要调整 */
}
  
.icon-link {
    margin-bottom: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.icon-link i {
    margin-right: 10px;
}



















/* 页面底部 */
#footer-area {
background: #DDDDDD;
color: #000000;
font-size: 90%;
padding: 18px 0;
overflow: hidden;
width: 940px;
height: 80px;
/* curved border radius */
-moz-border-radius-bottomright: 8px;
-moz-border-radius-bottomleft: 8px;
-webkit-border-bottom-left-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
}

.footer-segment {
float: left;
width: 940px;
}

footer aside h4 {
color: #000000;
font-size: 18px;
margin-left: 10px;
/* font-weight: normal; */
/* line-height: 1.5em; */
}

footer aside h5 {
color: #000000;
font-size: 14px;
font-weight: normal;
/* line-height: 1.5em; */
}

footer ul {
list-style: none;
margin-left: 5px;
}

footer a:link, footer a:visited {
color: #000000;
}

footer a:hover { 
text-decoration: underline; 
}

footer p {
margin-left: 10px;
}

.footer-links {
display: flex;
flex-wrap: wrap;
justify-content: space-around;  /* 或者使用 justify-content: space-between; */
}

.footer-links b {
flex: 0 0 15%; /* 设置每个链接的宽度，确保每行最多显示五个链接 */
margin: 5px;   /* 调整链接之间的间距，可根据需要更改 */
margin-bottom: -20px;
}
